[Desktop Entry]
Name=Obsidian - Feinheit
Comment=Open new window for Feinheit vault
Exec=xdg-open "obsidian://advanced-uri?vault=Feinheit&commandid=workspace%%3Anew-window"
Icon=obsidian
Type=Application
Categories=Office;
